Babel==2.3.4
beautifulsoup4==4.5.3
bs4==0.0.1
debtcollector==1.10.0
Django==1.10.2
funcsigs==1.0.2
iso8601==0.1.11
lxml==3.7.3
monotonic==1.2
msgpack-python==0.4.8
netaddr==0.7.18
netifaces==0.10.5
numpy==1.12.0
oslo.i18n==3.11.0
oslo.serialization==2.15.0
oslo.utils==3.20.0
pandas==0.19.2
pbr==1.10.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
selenium==3.0.1
six==1.10.0
tushare==0.6.9
wrapt==1.10.8
